.bl-list {
    background:  white;
    float: left;
    margin-top: 10%;
    margin-left: 5%;
    width: 55%;
    min-width: 300px;
    border-radius: 10px;
    padding: 15px;
    font-size: 15pt;
    box-sizing: border-box;
    border-color: white;
    border:2px;
    
}

.bl-bought {
    background:  white;
    float: right;
    margin-right:5%;
    margin-top: 10%;
    border-radius: 10px;
    padding: 5px;
    width: 30%;
    border-color: white;
    border:2px;
}

.bl-product{
    margin: 20px;
}

/*Кнопки*/
.bl-label {
    background: #cdcbcb;
    float: right;
    padding: 3px;
    border-radius: 5px;
     padding-left: 9px;
    padding-right: 9px;
}
.bl-label1 {
    background: Gainsboro;
    margin: 5px;
    border-radius: 5px;
    padding: 3px;
    
}
.bl-label2 {
    background: orange;
    border-radius: 50px;
    padding: 2px;
    padding-left: 7px;
    padding-right: 7px;
}
.bl-addButton{
    background: DodgerBlue;
    font-family: cursive;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
    margin-left: -5px;
    transition: all 1s ease;
    position: relative;
    
}
.bl-addButton::after{
    color: black;
    margin-top: -20;
    padding: 5px;
    background-color: white;
    border-radius: 8px 8px 8px 0px;
    content: attr(data-tooltip);
    position: absolute;
    display: none;
    opacity: 0;
    bottom: 110%;
    left: 100%;
    transition: all 2s ease;
}
.bl-addButton:hover::after{
    display: inline-block;
    opacity: 1;
    width: 50px;
    height: 15px;
    background-color: cadetblue;
     transition: all 2s ease;
}

.bl-plus {
    background: LimeGreen;
    float: right;
    margin-left: 3px;
    border-radius: 25px;
    font-size: 15pt;
    padding-left: 7px;
    padding-right: 7px;
    position: relative;
    
}
.bl-plus::after{
    color: black;
    margin-top: -20;
    padding: 5px;
    background-color: white;
    border-radius: 8px 8px 8px 0px;
    content: attr(data-tooltip);
    position: absolute;
    display: none;
    opacity: 0;
    bottom: 110%;
    left: 100%;
    transition: all 2s ease;
}
.bl-plus:hover::after{
    display: inline-block;
    opacity: 1;
    width: 50px;
    height: 15px;
    background-color: cadetblue;
     transition: all 2s ease;
}
.bl-minus {
    background: Salmon;
    float: right;
    margin-right: 3px;
    border-radius: 25px;
    font-size: 15pt;
    padding-left: 9px;
    padding-right: 9px;  
    position: relative;
}
.bl-minus::after{
    color: black;
    margin-top: -20;
    padding: 5px;
    background-color: white;
    border-radius: 8px 8px 8px 0px;
    content: attr(data-tooltip);
    position: absolute;
    display: none;
    opacity: 0;
    bottom: 110%;
    left: 100%;
    transition: all 2s ease;
}
.bl-minus:hover::after{
    display: inline-block;
    opacity: 1;
    width: 50px;
    height: 15px;
    background-color: cadetblue;
     transition: all 2s ease;
}
.bl-cross {
    background: FireBrick;
    float: right;
    display: inline;
     border-radius: 5px;
    position: relative;
}
.bl-cross::after{
    color: black;
    margin-top: -20;
    padding: 5px;
    background-color: white;
    border-radius: 8px 8px 8px 0px;
    content: attr(data-tooltip);
    position: absolute;
    display: none;
    opacity: 0;
    bottom: 110%;
    left: 100%;
    transition: all 2s ease;
}
.bl-cross:hover::after{
    display: inline-block;
    opacity: 1;
    width: 50px;
    height: 15px;
    background-color: cadetblue;
     transition: all 2s ease;
}
.boughtButton {
    float: right;
    font-family: cursive;
    display: inline;
    margin-left: 20%;
     border-radius: 5px;
    position: relative;
}
.boughtButton::after{
    color: black;
    margin-top: -20;
    padding: 5px;
    background-color: white;
    border-radius: 8px 8px 8px 0px;
    content: attr(data-tooltip);
    position: absolute;
    display: none;
    opacity: 0;
    bottom: 110%;
    left: 100%;
    transition: all 2s ease;
}
.boughtButton:hover::after{
    display: inline-block;
    opacity: 1;
    width: 50px;
    height: 15px;
    background-color: cadetblue;
     transition: all 2s ease;
}
.text{
    width:80%;
    height: 25px;;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.bl-title{
    font-size: 15pt;
    padding: 10px;
}
.bl-labl{
    position: fixed;
    padding: 15px;
    left: 20px;
    top: 91%;
    background-color: darkviolet;
    height: 110px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 16pt;
    transition: all 2s ease;
     border: 5px black;
}
.bl-labl:hover{
    background-color: darkslateblue;  
    top: 82%;
    transition: all 2s ease;
    content: "Stas";
}

.bl-name{
   margin-left: 25px;
}

@media print {
    *{
        background-color: white;
        color: black;
        border-color: black;
    }
    .bl-name{
        display: none;
    }
    .bl-labl{
        border-color: black;
        border-width: 5px;
    }
    
  


}
@media(max-width:800px){
    .bl-list {
    background:  white;
    float: left;
    margin-top: 10%;
    margin-left: 5%;
    width: 55%;
    min-width: 450px;
    border-radius: 10px;
    padding: 15px;
    font-size: 15pt;
    box-sizing: border-box;
        position: relative;
    
}
    .bl-bought {
    background:  white;
    margin-top: 10%;
    border-radius: 10px;
        min-width: 440px;
    padding: 5px;
        position: absolute;
        left: 6%;
        top: 40%;
         width: 54%;
}
}
.tooltip{
    position: absolute;
    z-index: 2;   
    display: none;
}








